*.class
*.log
*.iml
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
*.bak

/tmp

hs_err_pid*

.gradle
/*/build/
/build/

target

!gradle-wrapper.jar

spark-warehouse

.gradletasknamecache

.idea/

.settings/
.project
.classpath

data
*.local.conf

/*/out/
/sample.properties
/sample.script
/test.mv.db

